<html lang="en">
<head>
    <title>About Us</title>
    <link rel='stylesheet' href='/stylesheets/home_page.css' />
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
    <script src="/bootstrap/js/bootstrap.js"></script>
    <link rel="shortcut icon" href="/images/ecoso_logo.png"/>
    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="/javascripts/navbar.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <link rel="stylesheet" href="/landing/styles/main.css" />
</head>
<body>
<div class="wrapper" id="scroll">
    <% include ./navbar %>
    <div class="container helloUser">
        <h1>About Us</h1>
    </div>
    <div class="container">
        <div class="cover-container">
            <div class="inner cover">
                <h1 class="cover-heading pt-4" style="margin-bottom: 3rem;">Ecological Social Network</h1>
                <p class="lead cover-copy" style="font-size: 28px">You use social media network, we plant trees</p>
            </div>
            <div class="mastfoot">
                <div class="inner">
                    <p>&copy; Ecoso by SadTeam. Developer Site: <a href="https://tsnanh.dev/" target="_blank">tsnAnh.dev</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>