<!DOCTYPE html>
<html>
<head>
    <title>Ecoso Chat Room</title>
    <link rel='stylesheet' href='/stylesheets/home_page.css' />
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
    <script src="/bootstrap/js/bootstrap.js"></script>
    <link rel="shortcut icon" href="/images/ecoso_logo.png"/>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="/javascripts/navbar.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/global_chat.css"/>
</head>
<body>
<div class="wrapper">
    <% include ./navbar.ejs %>
<div class="container" style="margin-top: 120px;">
    <div class="row">
        <div class="col-md-12 col-xl-12 chat">
            <div class="card">
                <div class="card-header msg_head">
                    <div class="d-flex bd-highlight">
                        <div class="user_info">
                            <img src="/images/ecoso_logo.png" alt="" class="rounded-circle user_img">
                            <span class="font-weight-bolder" style="font-size: 36px; text-align: center; vertical-align: middle">&nbsp;&nbsp;Ecoso Global Chat</span>
                        </div>
                    </div>
                </div>
                <div class="card-body msg_card_body" id="messageContainer">

                </div>
                <div class="card-footer">
                    <div class="input-group">
                        <textarea id="txtMessage" class="form-control type_msg" placeholder="Type your message..."></textarea>
                        <div class="input-group-append" onclick="sendMessage()">
                            <span class="input-group-text send_btn"><i class="material-icons">send</i></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    <input type="hidden" id="userID" value="<%=uid%>" />
</div>
<% include ./firebase_init %>
<script src="/javascripts/global_chat.js"></script>
</body>
</html>