<!DOCTYPE html>
<html>
<head>
    <title>Ecoso - Login or Sign Up</title>
    <link rel="shortcut icon" href="/images/ecoso_logo.png"/>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
    <script src="/bootstrap/js/bootstrap.js"></script>
</head>
<body>
    <h1>Ecoso</h1>
    <p>Welcome to Ecoso</p>
    <a class="btn btn-light" href="/login">Login</a>
</body>
</html>
