<!DOCTYPE html>
<html>
    <head>
        <title>Login to Ecoso</title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
        <script src="/bootstrap/js/bootstrap.js"></script>
    </head>
    <body style="background: snow;">
    <h2 class="mb-4">Login to Ecoso</h2>
        <button class="btn btn-light shadow" onclick="signInWithGoogle()" type="button" id="btnGoogleSignIn">
            <img src="/images/google.png" style="width: 40px;" />&nbsp;&nbsp;Sign In With Google
        </button>
    <% include ./firebase_init %>
    <script src="/javascripts/login.js"></script>
    </body>
</html>