<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Colorlib Templates">
    <meta name="author" content="Colorlib">
    <meta name="keywords" content="Colorlib Templates">

    <!-- Title Page-->
    <title>Update Your Information</title>
    <link rel="shortcut icon" href="/images/ecoso_logo.png"/>
    <link rel='stylesheet' href='/stylesheets/home_page.css' />
    <!-- Icons font CSS-->
    <link href="/updateInfo/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
    <link href="/updateInfo/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <!-- Font special for pages-->
    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Vendor CSS-->
    <link href="/updateInfo/vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="/updateInfo/vendor/datepicker/daterangepicker.css" rel="stylesheet" media="all">
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>

    <!-- Main CSS-->
    <link href="/updateInfo/css/main.css" rel="stylesheet" media="all">
    <link rel="stylesheet" href="/croppie/croppie.css" />
<!--    <script src="/croppie/croppie.js"></script>-->
</head>

<body>
<div class="wrapper-chat">
    <div class="page-wrapper bg-gra-02 p-t-130 p-b-100 font-poppins">
        <div class="wrapper wrapper--w680">
            <div class="card card-4">
                <div class="card-body">
                    <h2 class="title">Update Your Information</h2>
                    <form>
                        <div class="row row-space">
                            <div class="col-12" style="width: 100%">
                                <label class="label">Profile photo:</label>
                                <input id="profilePhoto"
                                       type="file" accept="image/*" name="profileAvatar" style="margin-bottom: 16px" />
                                <div id="crop" style="display:none;"><div class="croppie"></div></div>
                            </div>
                        </div>
                        <div class="row row-space">
                            <div class="col-12" style="width: 100%;">
                                <div class="input-group">
                                    <label class="label">Name</label>
                                    <input class="input--style-4" type="text" id="name" value="<%=name%>" required>
                                </div>
                            </div>
                        </div>
                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Birthday</label>
                                    <div class="input-group-icon">
                                        <input class="input--style-4 js-datepicker" type="date" name="dateOfBirth" id="dateOfBirth" required>
                                        <i class="zmdi zmdi-calendar-note input-icon js-btn-calendar"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Gender</label>
                                    <div class="p-t-10">
                                        <label class="radio-container m-r-45">Male
                                            <input type="radio" checked="checked" value="Male" name="gender">
                                            <span class="checkmark"></span>
                                        </label>
                                        <label class="radio-container">Female
                                            <input type="radio" value="Female" name="gender">
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Address</label>
                                    <input class="input--style-4" type="text" id="address" required>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Phone Number</label>
                                    <input class="input--style-4" type="text" id="phoneNumber" required>
                                </div>
                            </div>
                        </div>
                        <div class="p-t-15">
                            <button id="updateInfo" class="btn btn--radius-2 btn--green" type="button">Update</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<% include ./firebase_init %>
<script src="/javascripts/updateUserInformation.js"></script>
<!-- Jquery JS-->
<script src="/updateInfo/vendor/jquery/jquery.min.js"></script>
<!-- Vendor JS-->
<script src="/updateInfo/vendor/select2/select2.min.js"></script>
<script src="/updateInfo/vendor/datepicker/moment.min.js"></script>
<script src="/updateInfo/vendor/datepicker/daterangepicker.js"></script>

<!-- Main JS-->
<script src="/updateInfo/js/global.js"></script>
<script src="/croppie/croppie.js"></script>
</body>

</html>